<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
        <button
          type="submit"
          class="btn btn-success mr-1"
          [disabled]="!recipeForm.valid"
        >
          Save
        </button>
        <button 
          type="button" 
          class="btn btn-danger"
          routerLinkActive="active" routerLink="/recipes"
        >
          Cancel
        </button>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group" >
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
          >
          <span *ngIf="!recipeForm.get('name').valid && recipeForm.get('name').touched">
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="imagePath">Image URL</label>
          <input
            type="text"
            id="imagePath"
            formControlName="imagePath"
            class="form-control"
          >
          <span *ngIf="!recipeForm.get('imagePath').valid && recipeForm.get('imagePath').touched">
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            type="text"
            id="description"
            formControlName="description"
            class="form-control"
            formControlName="description"
            rows="6"
          >
          </textarea>
          <span *ngIf="!recipeForm.get('description').valid && recipeForm.get('description').touched">
          </span>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let ingredientCtrl of controls; let i = index"
            [formGroupName]="i"
          >
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                formControlName="name"
              >
            </div>
          <div class="col-sm-2">
            <input
              type="number"
              class="form-control"
              formControlName="amount"
            >
          </div>
          <div class="col-sm-2">
            <button
              type="button"
              class="btn btn-danger"
            >
              X
            </button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <button
              type="button"
              class="btn btn-success"
              (click)="onAddIngredient()"
            >
              Add Ingredient
            </button>
          </div>
        </div>
        </div>
      </div>
    </form>
  </div>
</div>