<div class="row">
  <div class="col-sm-10">
      <app-shopping-edit>
      </app-shopping-edit>
      <hr>
      <ul class="list-group">
        <a
          style="cursor: pointer;" 
          class="list-group-item list-group-item-action"
          *ngFor="let ingredient of ingredients; let i = index"
          (click)="onEditItem(i)"
        >
          {{ ingredient.name}} ({{ ingredient.amount}})
        </a>
      </ul>
    </div>
  </div>