<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success"(click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
    <div class="list-group">
      <app-recipe-item
        *ngFor="let recipeItem of recipes; let i = index"
        [recipe]="recipeItem"
        [index]="i"
      >
      </app-recipe-item>
    </div>
  </div>
</div>