<div class="row">
    <div class="col-sm-12">
      <form (ngSubmit)="onAddItem(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input 
              ngModel 
              type="text"
              name="name" 
              id="name" 
              class="form-control" 
              #nameInput 
              required
            >
          </div>
          <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input 
              ngModel 
              type="number" 
              name="amount" 
              id="number" 
              class="form-control" 
              #amountInput 
              required
              pattern="^[1-9]+[0-9]*$"  
            >
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
          <button 
            class="btn btn-success mr-1" 
            type="submit"
            [disabled]="!f.valid"
          >
            {{editMode ? 'Update' : 'Add'}}
          </button>
          <button
            *ngIf="editMode"
            class="btn btn-danger mr-1"
            type="submit"
            (click)="onDelete()"
          >
            Delete
          </button>
          <button
            class="btn btn-primary" 
            type="submit"
            (click)="onClear()"
          >
            Clear
          </button>
          </div>
        </div>
      </form>
    </div>
  </div>